body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    background:floralwhite;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    color:#ff5200;
    text-shadow: 3px 5px  black;
    margin: 0px;
}

.main{
    display: flex;
    gap: 50px;
    margin-right:181px;
}

.side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.side h3{
    margin: 0px;
    font-size: 25px;
    width: 100px;
    text-align: center;
    color: #ff5200;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;

}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.options button {

    font-size:18px;
    box-shadow: 3px 3px black;
    color: white;
    background: #2c8aff;
    font-weight: bold;
    width: 130px;

}
.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 10px solid #00ffb894;
    margin: 0px;
}

.gridSize{
    display: flex;
    gap: 22px;
    margin-bottom: 10px;
}

.gridSize button{
    font-size: 21px;
    box-shadow: 3px 3px black;
    color: white;
    background: #2c8aff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}



.box {
    background: white;
    box-sizing: border-box;

}


.clear{
    background:white;
}