body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    background:floralwhite;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    color:#ff5200;
    text-shadow: 3px 5px  black;
    margin: 0px;
}

.main{
    display: flex;
    gap: 50px;
    margin-right:181px;
}

.side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.side h3{
    margin: 0px;
    font-size: 25px;
    width: 100px;
    text-align: center;
    color: #ff5200;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;

}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.options button {

    font-size:18px;
    box-shadow: 3px 3px black;
    color: white;
    background: #2c8aff;
    font-weight: bold;
    width: 130px;

}
.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 10px solid #00ffb894;
    margin: 0px;
}

.gridSize{
    display: flex;
    gap: 22px;
    margin-bottom: 10px;
}

.gridSize button{
    font-size: 21px;
    box-shadow: 3px 3px black;
    color: white;
    background: #2c8aff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}



.box {
    background: white;
    box-sizing: border-box;

}


.clear{
    background:white;
}

@media (max-width:1000px){

    .heading{
        font-size: 100px;
    }

    .main{
        margin: 0px;
        align-items: center;
        flex-direction: column;
    }
    .side, .options{
        flex-direction: row;
    }
    .side h3{
        display: none;
    }
}

@media (max-width:600px){
    body{
        justify-content: center;
        gap: 50px;
    }
    .heading{
        font-size: 60px;
        text-shadow: 3px 3px black;
    }
    .grid{
        height: 320px;
        width: 320px;
    }
    .side{
        flex-direction: row;
    }
    .options{
        gap: 10px;
    }
    .options button{
        font-size: 13px;
        width: 80px;
    }
    .gridSize button{
        font-size: 15px;
    }
    .box{
        
    }
}